$black: HSLA(0, 0%, 7%, 1.0);
$white: #fff;
$red: #ac3843;
$orange: #bd733b;
$transparent: HSLA(0, 0%, 7%, 0.0);

$header-font: 'UnifrakturMaguntia', 'Georgia', Serif, cursive;
$copy-font: 'Droid Sans', sans-serif;;

$phablet-width: "screen and (min-width: 480px)";
$tablet-width: "screen and (min-width: 720px)";
$laptop-width: "screen and (min-width: 1080px)";
$desktop-width: "screen and (min-width: 1620px)";
